.vs/Cadastro de Contatos/FileContentIndex/84281510-e016-46a2-bec6-65aa47cad904.vsidx
.vs/Cadastro de Contatos/FileContentIndex/84281510-e016-46a2-bec6-65aa47cad904.vsidx
.vs/Cadastro de Contatos/FileContentIndex/84281510-e016-46a2-bec6-65aa47cad904.vsidx
/.vs/Cadastro de Contatos/FileContentIndex
/.vs/Cadastro de Contatos/FileContentIndex
