@{
    ViewData["Title"] = "Apagar contatos";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato(Adriano Machado)?</h3>
</div>

<div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary" role="button">Cancelar Exclusão</button>
    <button class="btn btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao" role="button">Confirmar Exclusão</button>
</div>


